/* General Structure */


.margin {
  left: 0;
}

.margin:not(:first-of-type) {
  height: 100%;
}

#top-margin {
  background-image: linear-gradient(to bottom,rgb(102,0,0), rgb(128,0,0));
}

#bio-margin {
  background-image: linear-gradient(to bottom,rgb(128,0,0), rgb(153,0,0));
}

#portfolio-margin {
  background-image: linear-gradient(to bottom,rgb(153,0,0), rgba(204,0,0));
}

#links-margin {
  background-image: linear-gradient(to bottom,rgb(204,0,0), rgb(255,0,0));
}

.content {
  border-bottom: 3px grey solid;
}

/* Nav */

nav {
  height: 250px;
  background-image: linear-gradient(to bottom,rgba(77,0,0,1), rgba(77,0,0,0));
  z-index: 5;
}

.nav-link {
  color: white;
  padding: auto 4px;
}

.nav-link:hover {
  font-weight: bold;
}

.nav-link:first-of-type {
  margin-bottom: -15px;
  transform: scaleX(4);
}

/* Intro */

#intro {
  background-image: linear-gradient(to right,rgba(255,255,255,1) 40%, rgba(255,255,255,0) 57%);
  position: absolute;
  height: 100%;
  width: 100%;
  font-size: 18px;
}

#intro-text p:first-of-type span  {
  font-size: 1.5em;
  color: #4d0000;
}

#top img {
  max-width: 65%;
  float: right;
}

#intro-text {
  transform: translateY(50%);
}

/* Bio */

#bio-content {
  padding: 120px 15px;
}

/* Portfolio */


/* Social Media */

/* Mobile */

@media (max-width: 767px) {

  #intro {
    height: auto;
    position: relative;
  }

  #intro-text {
   padding-top: 4em;
   transform: none;
  }

  #top img {
    border-radius: 15px;
    max-height: 50%;
    margin-right: 2em;
  }

  #top hr {
    margin: 35px 0;
  }

  #fade {
    height: 150px;
    background-image: linear-gradient(to top,rgba(255,255,255,1) 60%, rgba(255,255,255,0) 90%);
    z-index: 3;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 576px) {

  nav a {
    font-size: 12px;
  }

}

@media (min-width:1200px) {

  nav{
    font-size: 18px;
  }

  #intro-text {
    font-size: 24px;
  }
}
